@CHARSET "UTF-8";

#forgot-password-form {width:400px;margin:0 auto;border:2px dashed #D9EEF2;background-color:#fff;padding:10px;}
#forgot-password-form td{padding:5px;}
#forgot-password-form .forgot-password-input{font-size:21px;width:100%;border:1px solid #eee;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}