<div class="login">
	<form id="login-form" class="form-horizontal" method="post" action="/account/login/">
   		{% csrf_token %}
   		{% if next %}
        <input name="next" type="hidden" value="{{next}}" />
        {% endif %}
        
        {% if loginErrorMessage %}
        <div class="alert alert-error">
              <button data-dismiss="alert" class="close" type="button">×</button>
              {{loginErrorMessage}}
        </div>
        {% endif %}
        
        <div class="control-group {% if loginForm.username.errors %} error {% endif %}">
        	<label class="control-label" for="login-username">电子邮箱</label>
		  <div class="controls">
		    {{loginForm.username}}
		    {% if loginForm.username.errors %}
		    <span class="help-inline">{{loginForm.username.errors.0|escape}}</span>
		    {% endif %}
		  </div>
		</div>
		<div class="control-group {% if loginForm.password.errors %} error {% endif %}">
			<label class="control-label" for="login-password">密码</label>
		  <div class="controls">
		    {{loginForm.password}}
		    {% if loginForm.password.errors %}
		    <span class="help-inline">{{loginForm.password.errors.0|escape}}</span>
		    {% endif %}
		  </div>
		</div>
		<div class="control-group">
		    <div class="controls">
		      <label class="checkbox">
		        <input type="checkbox" name="login-remember" checked="checked" id="login-remember" /> 记住我
		      </label>
		      <button type="submit" class="btn" id="login-submit">登陆</button>
		      <a class="btn btn-link" href="/account/forgot_password/">忘记密码</a>
		    </div>
		</div>	                        	
   	</form>
</div>