{% extends "base_blank.html" %}

{% block style %}

{% endblock %}

{% block content %}
<div class="reg">
	{% if errorFromServer %}
		<div class="alert alert-error">系统错误：{{ errorFromServer|escape }}</div>
	{% endif %}
	
	{% if infoFromServer %}
		<div class="alert alert-info">系统提示：{{ infoFromServer|escape }}</div>
    {% endif %}
    
    {% if errorMessage %}
	<div class="alert alert-error">
    	<button data-dismiss="alert" class="close" type="button">×</button>
             {{errorMessage}}
    </div>
	{% endif %}
    
    <form method="post" action="/account/newpassword/" id="new-password-form" class="form-horizontal">
    	{% csrf_token %}
    	{% if key %}
    		<input type="hidden" name="key" value="{{key}}" />
    	{% endif %}
    	<input type="hidden" value="{{username}}" name="username"/>
    	
    	<div class="control-group">
        	<label class="control-label" for="forgot-username">注册时的电子邮箱</label>
			<div class="controls">
				<input type="text" value="{{username}}" name="username-display" disabled="disabled" size="11" class="new-password-input" />
			</div>
		</div>
		
		<div class="control-group {% if form.password1.errors %} error {% endif %}">
        	<label class="control-label" for="forgot-username">新密码</label>
		  	<div class="controls">
		    	{{form.password1}}
		    	{% if form.password1.errors %}
		    	<span class="help-inline">{{form.password1.errors.0|escape}}</span>
		    	{% endif %}
		  	</div>
		</div>
		<div class="control-group {% if form.password2.errors %} error {% endif %}">
        	<label class="control-label" for="forgot-username">新密码确认</label>
		  	<div class="controls">
		    	{{form.password2}}
		    	{% if form.password2.errors %}
		    	<span class="help-inline">{{form.password2.errors.0|escape}}</span>
		    	{% endif %}
		  	</div>
		</div>
		
		<div class="control-group {% if form.password2.errors %} error {% endif %}">
		  	<div class="controls">
		    	<button type="submit" class="btn">提交</button>
		  	</div>
		</div>
    </form>
</div>
{% endblock %}