
<div class="register">  
    <form id="register-form" method="post" class="form-horizontal" action="/account/register/">
    	{% csrf_token %}
		<div class="control-group {% if registerForm.username.errors %} error {% endif %}">
			<label class="control-label" for="register-username">电子邮箱</label>
			<div class="controls">
			  {{ registerForm.username }}
			  {% if registerForm.username.errors %}
			  <span class="help-inline">{{registerForm.username.errors.0|escape}}</span>
			  {% endif %}
			</div>
		</div>
		
		<div class="control-group {% if registerForm.password1.errors %} error {% endif %}">
			<label class="control-label" for="register-password1">密码</label>
			<div class="controls">
			  {{ registerForm.password1 }}
			  {% if registerForm.password1.errors %}
			  <span class="help-inline">{{registerForm.password1.errors.0|escape}}</span>
			  {% endif %}
			</div>
		</div>
		
		<div class="control-group {% if registerForm.captcha.errors %} error {% endif %}">
			<label class="control-label">验证码</label>
			<div class="controls">
			  {{ registerForm.captcha }}
			  {% if registerForm.captcha.errors %}
			  <span class="help-inline">{{registerForm.captcha.errors.0|escape}}</span>
			  {% endif %}
			</div>
		</div>
		<div class="control-group">
		    <div class="controls">
		      <button id="register-submit" class="btn">新用户注册</button>
		    </div>
		</div>	 
    </form>
</div>
