{% extends "base_blank.html" %}

{% block style %}
<link href="/style/css/1v/home.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block script %}
<script>
var PAGE_CONFIG = {};
PAGE_CONFIG['page_type'] = 'home';
{% if registerForm %}
PAGE_CONFIG['register'] = true;
PAGE_CONFIG['username'] = '{{ email }}';
{% endif %}
{% if request.user.is_authenticated %}
PAGE_CONFIG['authenticated'] = true;
PAGE_CONFIG['userId'] = request.user.id;
{% endif %}
</script>
<script src="/style/js/1v/common/header.js"></script>
<script src="/style/js/1v/home.js"></script>

{% endblock %}

{% block content %}
<div class="hero-unit">
        <!-- <h1>Hello!</h1>
        <p>没想好啊没想好</p> -->
        <div id="home" class="home">
			<h3 class="intro"></h3>
			<a href="{% if request.user.is_authenticated %}/family/list/{{request.user.id}}/{% else %}#invite-modal{% endif %}" class="enter" title="进入" id="enter">Enter</a>
		</div>
</div>

<!-- Invite Modal -->
<div id="invite-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="invite-modal-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="invite-modal-label">获取邀请</h3>
  </div>
  <div class="modal-body">
  	<div id="invite-message" class="alert alert-success" style="display:none;"></div>
    <form id="invite-form" class="form-horizontal" method="post" action="">
		{% csrf_token %}
		<div class="control-group">
        	<label class="control-label" for="forgot-username">电子邮箱</label>
		  	<div class="controls">
			    {{inviteForm.username}}
			    <span class="help-inline" style="display:none;"></span>
		  	</div>
		</div> 
	</form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary" id="invite-button">申请</button>
  </div>
</div>

{% if registerForm %}
<!-- Register Modal -->
<div id="register-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="register-modal-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="register-modal-label">注册</h3>
  </div>
  <div class="modal-body">
  	<div id="register-message" class="alert alert-success" style="display:none;"></div>
      <form id="register-form" method="post" class="form-horizontal" action="/account/register/">
    	{% csrf_token %}
		<div class="control-group" id="register-email-group">
			<label class="control-label" for="register-username">电子邮箱</label>
			<div class="controls">
			  <input autocomplete="off" type="email" class="register-input" tabindex="1" placeholder="电子邮箱" id="register-username" size="15" disabled="disabled">
			  <input autocomplete="off" type="hidden" name="username" value="{{ email }}" />
			  <span class="help-inline" style="display:none;"></span>
			</div>
		</div>
		
		<div class="control-group" id="register-pwd-group">
			<label class="control-label" for="register-password1">密码</label>
			<div class="controls">
			  {{ registerForm.password1 }}
			  <span class="help-inline" style="display:none;"></span>
			</div>
		</div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary" id="register-button">新用户注册</button>
  </div>
</div>
{% endif %}

{% endblock %}