{% extends "base_blank.html" %}

{% block style %}
<link href="/style/css/1v/home.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block script %}

{% endblock %}

{% block content %}
<div class="hero-unit">
        <h1>Hello DOORFY!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <div id="home" class="home">
			<h3 class="intro"></h3>
			<a href="/account/" class="door">Enter Door</a>
		</div>
</div>
{% endblock %}