{% extends "base_blank.html" %}

{% block style %}
<style>
</style>
{% endblock %}


{% block content %}

{% if familyUser|length > 0 %}
<div>我的家庭:</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>名称</th>
      <th>描述</th>
    </tr>
  </thead>
  <tbody>
 	{% for fu in familyUser %}
    <tr>
      <td>{{ fu.family.name }}</td>
      <td>{{ fu.family.desc }}</td>
    </tr>
	{% endfor %}
  </tbody>
</table>
{% else%}
<div class="alert alert-info">
你还没有任何家庭的信息.
</div>
{% endif %}
<a href="/family/create/" class="btn btn-primary">创建一个新家庭</a>


{% endblock %}


{% block script %}
{% endblock %}