{% extends "base_blank.html" %}

{% block style %}
<style>
</style>
{% endblock %}


{% block content %}

{% if familyUser|length > 0 %}
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td>3</td>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
{% else%}
<div class="alert alert-info">
你还没有任何家庭的信息.
</div>
<a href="" class="btn btn-primary">创建一个新家庭</a>
{% endif %}



{% endblock %}


{% block script %}
{% endblock %}